




body{
    margin: 0;
    padding: 0;
    border: 10px solid rgb(188, 242, 135);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  
    
}
body::-webkit-scrollbar {
    display: none;
  }

  .parent .checkedinput input[type=checkbox]:checked+label {
    color: rgb(28, 214, 53);
    font-size: 1.2rem;

}
  .parent .navclass{
    background-color: rgb(34, 89, 89);
    padding: 30px;
    margin: 2px;
    border-radius: 9px;
    text-align: center;
    position: sticky;
    top: 0px;

    


}
  .parent p{
    border: 3px solid rgb(178, 54, 87);
    column-count: 4;
}
.parent img{
    height: 70px;
    width: 70x;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 5px 7px 9px black;
    transition: transform 1.8s ease;

}

.parent img:hover{
    width: 100px;
    height: 100px;
    transform: scale(1.1);
}

.parent .smaple input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    color: rgb(70, 12, 12);

}
.parent .smaple input:focus{
    background-color: rgb(115, 192, 192);
   

}
.parent .smaple input::placeholder{
color: rgb(59, 101, 111);   
}


.parent button{
    height: 50px;
    width: 100px;
    border: none;
    background-color: aquamarine;
    border-radius: 9px;
    text-transform: capitalize;
    text-shadow: 4px 4px 8px ;

}
.parent button:active{
    background-color: red;
    border-radius: 10px;
    border: none;
}

.parent .list-items ol li:first-child{
    color: blue;
}
.parent .list-items ol li:last-child{
    color: rgb(189, 9, 229);
}

.parent .list-items ol li:nth-child(3){
    color: rgb(229, 71, 9);
}


/* .fruits{
    border: 3px solid rgb(215, 11, 154);
    margin: 100px;
}

.apple{
    height: 200px;
    width: 200px;
    background-color: rgb(178, 40, 75);
    display: inline-block;
    position: relative;
    left: 400px;
}
.mango{
    height: 200px;
    width: 200px;
    background-color: rgb(29, 36, 108);
    display: inline-block;
} */

/* .maindiv{
    border: 5px solid blue;
    width: 400px;
    height: 400px;
   
}


.childimg{
    width: 100%;
    height: 100%;

    
} */

/* .maindiv{
    border: 5px solid rgb(100, 115, 16);
    width: 300px;
    height: 300px;
    background-image: url('https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?size=626&ext=jpg&ga=GA1.1.1827530304.1714521600&semt=sph');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


} */


/* .parrant{
    border: 5px solid rgb(51, 63, 69);
    margin: 100px;
    position: relative;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(178, 40, 75);
    display: inline-block;
    position: relative;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(29, 36, 108);
    display: inline-block;
    position: relative;
    top: 100px;


}
.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(13, 137, 118);
    display: inline-block;
    position: relative;
    top: 200px;

}
.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(161, 6, 143);
    display: inline-block;
    position: relative;
    right: 109px;

}
.box5{
    height: 100px;
    width: 100px;
    background-color: rgb(6, 120, 161);
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 100px;

} */





/* body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    border: 10px solid blue;
    width: 100-sizing: border-box;

}

.parrant{
    border: 2px solid green;
    margin: 100px;
    display: inline-block;

}

.box1{
    width: 200pkground-color: maroon;
    display: inline-block;
    left:400px;
    top: 200px;
    position: relative;
    


}
.box2{
    width: 200pkground-color: orange;
    display: inline-block;


} */

/* body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    border: 10px solid blue;
    width: 100;
    height: 100vh;
    box-sizing: border-box;

}
 .parrant{
    border: 1px solid blue;
    margin: 100px;
    display: inline-block;
    position: relative;
    


 }
.box1{ 
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: rgb(118, 22, 65);
    position: absolute;
    top: -100px;
    left: 300px;
}
.box2{ 
    width: 100px;

    height: 100px;
    display: inline-block;
    background-color: rgb(124, 89, 43);
    position: absolute;
    top: -100px;
    left: 200px;

}
.box3{ 
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: antiquewhite;

}
.box4{ 
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: rgb(56, 188, 104);

}
.box5{ 
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: rgb(123, 14, 129);
    

} */

/* body{
   
    margin: 0;
    padding: 0;  
     
} */

/* 
.main {
    border: 10px solid #928d11;
}

.heading {
    color: rgb(217, 222, 227);
    background-color: rgb(74, 97, 107);
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
    text-align: center;
    position: sticky;
    top: 0;
    margin-top: 10px;
    width: 90%;
    font-size: 1.5rem;

}

.main img {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    border-radius: 10px;
} */


























/* .box_container1{
    border: 2px solid rgb(120, 36, 36) ;

}




.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(203, 27, 27);

}



.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(13, 0, 255);



}

.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(17, 219, 78);





}
.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(186, 166, 107);



}


.box5{
    height: 100px;
    width: 100px;
    background-color: aqua;



}
.box6{
    height: 100px;
    width: 100px;
    background-color: rgb(42, 96, 117);


} */

/* .box_container2{
    background-color: rgb(103, 15, 109);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items:center;
    height: 300px;

}

.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(203, 27, 27);

}

.box2{
    height: 100px;
    width: 100px;
    background-color:orange;




}

.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 255);






}
.box4{
    height: 100px;
    width : 100px;
    background-color: green;




}


.box5{
    height:100px;
    width :100px;
    background-color: blue;



}
.box6{
    height: 100px;
    width : 100px;
    background-color: indigo;


}
.box7{
    height: 100px;
    width: 100px;
    background-color: violet;



}

.box8{
    height: 100px;
    width: 100px;
    background-color: rgb(180, 122, 29);
    






}
.box9{
    height: 100px;
    width : 100px;
    background-color:limegreen;




}


.box10{
    height: 100px;
    width : 100px;
    background-color: aliceblue;



}
.box11 {
    height: 100px;
    width: 100px;
    background-color: teal;
    

}

 .box1:hover,.box2:hover,.box3:hover{
    background-color: yellow;
    height: 200px;
    width: 200px;
    transform: scale(1.15);
    transition-duration: 1s;
    overflow: hidden;
} */









/* .boxa{
    width: 100px;
    height: 100px;
    background-color:yellow; */
    /* transition-delay: 1s;
    transition-duration: 2s; */
/* }

 .boxa:hover{
    height: 200px;
    width: 200px;
    background-color: aqua;
    transition: 0.5s; 

}
 */

